.eyehide .eye-hide, .eyeshow .eye-show{
    display: block;//让对象成为块级元素
}
.eyehide .eye-show, .eyeshow .eye-hide{
    display: none;//此元素不会被显示
}
.item.item-select {
    .input-wrapper {
        ion-select {
            width: 200vw;
            max-width: unset;
 
            /*  
            .select-text {
                text-align: start;
            }
           */  
        }
    }
}