<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>PatientInformation</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div style="
  display: flex; 
  justify-content: center;
  padding: 1cm;">
    <ion-img 
    style="width: 1in; height: 1in;" 
    src="assets/icon/logo.jpg"></ion-img>
  </div>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Patient Name</ion-card-subtitle>
      <ion-card-title>Will Pearson</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Birth Date</ion-card-subtitle>
      <ion-card-title>02 September 2015</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>NHS Number</ion-card-subtitle>
      <ion-card-title>123-456-7890</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Caregiver (Mother)</ion-card-subtitle>
      <ion-card-title>Mary Pearson</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Trust</ion-card-subtitle>
      <ion-card-title>Great Ormond Street Hospital</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Emergency Contact</ion-card-subtitle>
      <ion-card-title>SHO/SpR on call</ion-card-title>
    </ion-card-header>
  </ion-card>


</ion-content>
