<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tracheostomy App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tracheostomy App</ion-title>
    </ion-toolbar>
  </ion-header>

  <div style="
  display: flex; 
  justify-content: center;
  padding: 1cm;">
    <ion-img 
    style="width: 1in; height: 1in;" 
    src="assets/icon/logo.jpg"></ion-img>
  </div>

  <!-- List of Text Items -->
<ion-list >

  <ion-item 
  style="height: 60px; 
  font-size: 20px;" 
  href="/patient-information">
    <ion-icon name="happy-outline"></ion-icon>
    <ion-label style="padding-left: 20%;">Patien Information</ion-label>
  </ion-item>

  <ion-item 
  style="height: 60px; 
  font-size: 20px;" 
  href="/medical-details">
    <ion-icon name="document-attach-outline"></ion-icon>
    <ion-label style="padding-left: 20%;">Medical Details</ion-label>
  </ion-item>

  <ion-item 
  style="height: 60px; 
  font-size: 20px;" 
  href="/reminder">
    <ion-icon name="calendar-clear-outline"></ion-icon>
    <ion-label style="padding-left: 20%;">Appointment Reminder</ion-label>
  </ion-item>

  <ion-item 
  style="height: 60px; 
  font-size: 20px;" 
  href="/educational">
    <ion-icon name="information-circle-outline"></ion-icon>
    <ion-label style="padding-left: 20%;">About Tracheostomy</ion-label>
  </ion-item>

  <ion-item 
  style="height: 60px; 
  font-size: 20px;" 
  href="/passcode">
    <ion-icon name="lock-closed-outline"></ion-icon>
    <ion-label style="padding-left: 20%;">Manage Passcode</ion-label>
  </ion-item>
</ion-list>

</ion-content>